@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* body */
.layout {
  display: grid;
  grid-template-areas: "header header header header header" "body body body body body" "body body body body body" "body body body body body" "body body body body body" "body body body body body" "body body body body body" "footer footer footer footer footer";
}

/* header */
header {
  background-image: url(../imagenes/menu.jpg);
  background-size: cover;
  height: 350px;
  grid-area: header;
}
header .titulos {
  display: flex;
  flex-flow: column wrap;
}
header .titulos h1 {
  color: rgb(255, 255, 255);
  font-size: 4rem;
  text-align: center;
  margin-top: 90px;
}
header .titulos p {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  text-align: center;
}
header .headerFlex {
  display: flex;
  justify-content: end;
  flex-flow: wrap;
}
header nav ul {
  margin-right: 51px;
  margin-top: 25px;
}
header nav ul li {
  border-right: solid rgb(255, 255, 255);
  list-style: none;
  display: inline;
  font-size: 2rem;
  padding-right: 20px;
}
header nav ul li:hover {
  background-color: rgba(255, 251, 0, 0.404);
  transform: scale(1.1);
  transition: 0.5s;
}
header nav ul li a {
  text-decoration: none;
  color: white;
}
header .navmobile {
  display: none;
}

/* principal*/
@keyframes tarjetas {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
main {
  grid-area: body;
}
main .mensaje {
  display: flex;
  flex-flow: wrap;
  text-align: center;
  margin: 90px 0;
  padding: 50px 100px;
  background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(255, 229, 181) 16%, rgb(255, 229, 181) 50%, rgb(255, 229, 181) 84%, rgb(255, 255, 255) 100%);
  color: #2d2822;
}
main .contenedorGrid {
  display: grid;
  grid-template-areas: "mensaje mensaje mensaje mensaje mensaje" ". tarjeta1 tarjeta2 tarjeta3 ." "separador separador separador separador separador" ". tarjeta4 texto2 . ." ". . texto1 tarjeta5 .";
  row-gap: 20px;
  column-gap: 20px;
  padding: 20px 0;
  margin: 100px 100px;
}
main .contenedorGrid .pie_tarjetas {
  text-align: center;
  font-size: 1.5rem;
  padding-top: 20px;
}
main .contenedorGrid .tarjetasa {
  grid-area: tarjeta1;
  justify-self: right;
  animation-name: tarjetas;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1s;
  transition: 0.2s;
}
main .contenedorGrid .tarjetasa :hover {
  transform: scale(1.1);
  transition: 0.3s;
}
main .contenedorGrid .tarjetasb {
  grid-area: tarjeta2;
  justify-self: center;
  animation-name: tarjetas;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1s;
  transition: 0.2s;
  animation-delay: 0.3s;
}
main .contenedorGrid .tarjetasb :hover {
  transform: scale(1.1);
  transition: 0.3s;
}
main .contenedorGrid .tarjetasc {
  grid-area: tarjeta3;
  justify-self: left;
  animation-name: tarjetas;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1s;
  transition: 0.6s;
  animation-delay: 0.4s;
}
main .contenedorGrid .tarjetasc :hover {
  transform: scale(1.1);
  transition: 0.3s;
}
main .contenedorGrid .separador {
  height: 200px;
  grid-area: separador;
}
main .contenedorGrid .tarjetas2d {
  background-image: url(../imagenes/pareja\ cafe.jpg);
  background-size: cover;
  height: 250px;
  width: 250px;
  border: solid black;
  border-radius: 50%;
  grid-area: tarjeta4;
  justify-self: left;
  margin-top: 5px;
}
main .contenedorGrid .textoizq {
  grid-area: texto2;
  width: 429px;
  align-self: center;
  font-size: 26px;
}
main .contenedorGrid .tarjetas3e {
  background-image: url(../imagenes/mujer\ cafe.jpg);
  background-size: cover;
  height: 250px;
  width: 250px;
  border: solid black;
  border-radius: 50%;
  grid-area: tarjeta5;
  justify-self: right;
}
main .contenedorGrid .textoder {
  grid-area: texto1;
  align-self: center;
  width: 430px;
  justify-self: right;
  font-size: 26px;
}

/* Nosotors */
main section .contenedor-nosotros {
  display: flex;
  align-items: center;
  justify-content: center;
}
main section .contenedor-nosotros .fotoNosotros {
  width: 25%;
  height: 250px;
  border: solid black;
  margin: 30px;
}
main section .contenedor-nosotros .derecha {
  background-image: url(../imagenes/nosotres\ derecha.jpg);
  background-size: cover;
}
main section .contenedor-nosotros .parrafoMision {
  font-size: 25px;
  width: 505px;
}
main section .contenedor-nosotros2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
main section .contenedor-nosotros2 .izquierda {
  background-image: url(../imagenes/nosotres\ izquierda.jpg);
  background-size: cover;
}
main section .contenedor-nosotros2 .parrafoVision {
  font-size: 25px;
  width: 505px;
}
main section .contenedor-nosotros2 .fotoNosotros {
  width: 25%;
  height: 250px;
  border: solid black;
  margin: 30px;
}

/* Contacto */
main .sectioContactos {
  display: flex;
  justify-content: space-evenly;
  margin: 100px 0;
}
main section .mapaContactos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 0 15px 0;
}
main section iframe {
  width: 600px;
}
main section .contacto-form .form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: solid 1px black;
}
main section .contacto-form .form label {
  margin: 10px 0 0 10px;
}
main section .contacto-form .form .contacto-textarea {
  margin: 20px 0;
}

/* oponiones */
main section .opiniones-contenedor {
  display: grid;
  grid-template-rows: repeat(3, 500px);
  grid-template-columns: repeat(2, 700px);
  align-items: center;
  justify-content: center;
}
main section .opiniones-contenedor .parrafo-hombre {
  font-size: 31px;
  justify-self: center;
  text-align: center;
}
main section .opiniones-contenedor .fotoClientes {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: solid black;
  margin: 30px 30px;
}
main section .opiniones-contenedor .hombre {
  background-image: url(../imagenes/hombre\ riendo.jpg);
  background-size: cover;
  background-position: center;
  justify-self: right;
}
main section .opiniones-contenedor .parrafo-mujer {
  font-size: 31px;
  justify-self: right;
  text-align: center;
}
main section .opiniones-contenedor .mujer {
  background-image: url(../imagenes/mujer\ riendo.jpg);
  background-size: cover;
  background-position: center;
  justify-self: left;
}
main section .opiniones-contenedor .opiniones-formulario .opinionesForm {
  padding: 25px;
  margin-bottom: 20px;
  border: solid 1px black;
  margin-left: 50px;
  width: 560px;
}
main section .opiniones-contenedor .opiniones-formulario .opiniones-textarea {
  width: 500px;
  height: 100px;
}
main section .opiniones-contenedor .opiniones-formulario .opinionesInput {
  margin-bottom: 20px;
  display: block;
  width: 500px;
}

/* footer */
footer {
  grid-area: footer;
}
footer section {
  background-image: url(../imagenes/granos.jpg);
  background-size: cover;
  color: white;
  background-color: rgb(78, 38, 14);
  height: 200px;
}
footer section .container .row div .parrafoFooter {
  font-size: 26px;
  background-color: black;
  margin-bottom: 10px;
}
footer section .container .row div form .textArea {
  height: 37px;
  width: 337px;
}
footer section .container .row div form .boton {
  height: 44px;
  width: 68px;
}

/* pedidos */
main .pedidos {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: repeat(2, 450px);
  column-gap: 175px;
  row-gap: 180px;
  margin: 50px;
  padding-top: 20px;
}
main .pedidos .tarjetas_flex {
  display: flex;
  flex-direction: column;
  box-shadow: 10px 10px 25px rgb(134, 134, 134);
  justify-content: space-evenly;
}
main .pedidos .tarjetas_flex .pedidos__mocka {
  background-image: url(../imagenes/mocka_01.jpg);
  background-repeat: no-repeat;
}
main .pedidos .tarjetas_flex .pedidos__mocka:hover {
  transform: scale(1.1);
}
main .pedidos .tarjetas_flex .tarjetas {
  height: 350px;
  width: 200px;
  background-position: center;
  justify-self: center;
  align-self: center;
}
main .pedidos .tarjetas_flex div .pedidos__texto {
  font-size: 20px;
  text-align: center;
}
main .pedidos .tarjetas_flex .pedidos__cafe {
  background-image: url(../imagenes/kimbo_01.jpg);
  background-repeat: no-repeat;
}
main .pedidos .tarjetas_flex .pedidos__cafe:hover {
  transform: scale(1.1);
}
main .pedidos .tarjetas_flex .pedidos__lavazza {
  background-image: url(../imagenes/lavazza_01.jpg);
  background-repeat: no-repeat;
}
main .pedidos .tarjetas_flex .pedidos__lavazza:hover {
  transform: scale(1.1);
}
main .pedidos .tarjetas_flex .pedidos__grano {
  background-image: url(../imagenes/granos_01.jpg);
  background-repeat: no-repeat;
}
main .pedidos .tarjetas_flex .pedidos__grano:hover {
  transform: scale(1.1);
}
main .pedidos .tarjetas_flex .pedidos__tazas {
  background-image: url(../imagenes/tazas_cafe_01.jpg);
  background-repeat: no-repeat;
}
main .pedidos .tarjetas_flex .pedidos__tazas:hover {
  transform: scale(1.1);
}

@keyframes tarjetas {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
@media (max-width: 480px) {
  header {
    width: 480px;
    height: 250px;
  }
  header .headerFlex {
    display: none;
  }
  header nav ul li {
    font-size: 0.83rem;
  }
  header .titulos h1 {
    margin-top: 90px;
    font-size: 3rem;
    text-shadow: 2px 2px 2px black;
  }
  header .navmobile {
    display: block;
  }
}
@media (max-width: 480px) {
  main .contenedorGrid {
    grid-template-areas: "tarjeta1" "tarjeta2" "tarjeta3" "tarjeta4" "texto2" "tarjeta5" "texto1";
    margin: 0;
  }
  main .contenedorGrid .tarjetasa {
    justify-self: center;
  }
  main .contenedorGrid .tarjetasc {
    justify-self: center;
  }
  main .contenedorGrid .tarjetas2d {
    justify-self: center;
  }
  main .contenedorGrid .tarjetas3e {
    justify-self: center;
  }
  main .contenedorGrid .textoizq, main .contenedorGrid .textoder {
    padding-left: 20px;
  }
}
@media (max-width: 480px) {
  main section .contenedor-nosotros .derecha {
    background-position: center;
    width: 50%;
    height: 250px;
    border: solid black;
    margin: 30px;
  }
  main section .contenedor-nosotros .parrafoMision {
    font-size: 18px;
    width: 398px;
    padding-right: 35px;
  }
  main section .contenedor-nosotros2 .parrafoVision {
    font-size: 19px;
    width: 401px;
    padding-left: 39px;
  }
  main section .contenedor-nosotros2 .fotoNosotros {
    width: 50%;
    height: 242px;
    border: solid black;
    margin: 40px;
  }
}
@media (max-width: 480px) {
  main section .opiniones-contenedor {
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(1, 1fr);
  }
  main section .opiniones-contenedor .hombre {
    justify-self: center;
  }
  main section .opiniones-contenedor .mujer {
    justify-self: center;
  }
  main section .opiniones-contenedor .parrafo-hombre {
    justify-self: left;
    align-self: flex-start;
    width: 442px;
    padding-left: 20px;
  }
  main section .opiniones-contenedor .parrafo-mujer {
    justify-self: left;
    align-self: flex-end;
    width: 440px;
    padding-left: 20px;
  }
  main section .opiniones-contenedor .opiniones-formulario .opinionesForm {
    width: 370px;
  }
  main section .opiniones-contenedor .opiniones-formulario .opinionesInput, main section .opiniones-contenedor .opiniones-formulario .opiniones-textarea {
    width: 300px;
  }
}
@media (max-width: 480px) {
  main .pedidos {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
  }
}
@media (max-width: 480px) {
  main .sectioContactos {
    width: 480px;
    flex-direction: column;
    margin-top: 120px;
  }
  main .sectioContactos iframe {
    width: 480px;
  }
  main .sectioContactos .form {
    margin-bottom: 20px;
  }
  main .contacto-form {
    width: 70%;
    align-self: center;
  }
}

/*# sourceMappingURL=estilos.css.map */
