@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
*{
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    background-image: url(../imagenes/menu.jpg) ;
    background-size: cover;
  height: 350px;
}


header .headerFlex{
display: flex;
justify-content: end;
flex-flow: wrap;
}

.logo{
    width: 150px;
    padding: 10px 0 10px 10px;
   margin-left: 50px;
}

header nav ul{
    margin-right: 50px;
   margin-top: 25px;
}
header ul li {
    border-right: solid rgb(255, 255, 255);
    list-style: none;
display:inline-block;
font-size: 2em;
padding-right: 20px;
}
a{
    text-decoration: none;
color: rgb(255, 255, 255);
}
header h1{
    color: rgb(255, 255, 255);
    font-size: 4rem;
    text-align: center;
    margin-top: 90px;
}
header p{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    text-align: center;
}
  
/* principal*/

.sectionPrincipal{
    position: relative;
}

.tarjetas{
    width: 250px;
    height: 250px;
    display: inline-block;
    margin: 20px;
}
.margenIzq {
	margin-left: 380px;
	margin-top: 50px;
}

.margenTop{
margin-top: 170px;
margin-bottom: 100px;
}
.tarjetas2{
    background-image: url(../imagenes/pareja\ cafe.jpg);
    background-size: cover;
    width: 250px;
    height: 250px;
    border: solid black;
    border-radius: 50%;
    margin-left: 100px;
}

.margenDer {
    font-size: 30px;
    background-image: url(../imagenes/mujer\ cafe.jpg);
	position: relative;
	top: -6px;
	left: 67%;
}

.articleIzq {
	font-size: 30px;
	position: absolute;
	top: 70px;
	left: 397px;
}

.articleDer {
	position: absolute;
	top: 132px;
	right: 230px;
	width: 700px;
}



/* Nosotors */


.fotoNosotros{
    width: 300px;
    height: 300px;
    border: solid black;
    margin: 30px;
}

.derecha{
    background-image: url(../imagenes/nosotres\ derecha.jpg);
    background-size: cover;

}
.izquierda{
    background-image: url(../imagenes/nosotres\ izquierda.jpg);
    background-size: cover; 
}

.parrafoMision {
	position: absolute;
	left: 364px;
	top: 601px;
	font-size: 30px;
}

.parrafoVision {
	position: absolute;
	left: 359px;
	top: 958px;
	font-size: 30px;
}

/* Contacto */

.contactoDir {
	width: 200px;
	height: 200px;

	padding: 20px;
	margin-bottom: 25px;
	position: relative;
	left: 189px;
}
.mapaContactos {
	margin: 30px;
}

.parrafoDireccion {
    position: absolute;
}

.contenedorForm {
	position: relative;
	top: 543px;
	left: 912px;
}
.formulario {
	position: absolute;
	top: -1221px;
}

.mapaContactos{
    margin: 30px;
}

/* oponiones */

.fotoClientes{
    position: relative;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: solid black;
    margin: 30px 30px;
}
   .hombre{
    background-image: url(/imagenes/hombre\ riendo.jpg);
    background-size: cover;
}
.mujer {
	position: relative;
	background-image: url(/imagenes/mujer\ riendo.jpg);
	background-size: cover;
	left: 831px;
	top: 4px;
}
q {
	position: absolute;
	left: 314px;
	top: 63px;
	font-size: 31px;
	width: 331px;
}

.opinionesForm{
    display: inline-block;
    padding: 25px;
    margin: 50px;
    width: 450px;
    height: 400px;
    background-color: rgb(131, 106, 75);
    position: relative;
    left: 77px;
    border: none;
}
.opinionesInput{
    display: block;
    margin: 25px;
}

/* pedidos */

.tarjetasPedidos {
	width: 250px;
	height: 250px;
	border: solid black;
	position: relative;
    margin: 30px;
    position: relative;
}

 
.sectionPedidos{
    position: relativea;
}

.tarjetasPedido, .f {
    background-image: url(/imagenes/cafetera\ moka.webp);
    background-size: cover;
    
}
.tarjetasPedido, .g{
    background-image: url(/imagenes/kimbo.webp);
    background-size: cover;
}
.tarjetasPedido, .h{
    background-image: url(/imagenes//lavazza.jpg);
    background-size: cover;
}
.tarjetasPedido, .i{
    background-image: url(/imagenes/granos.jpg);
    background-size: cover;
}
.tarjetasPedido, .j{
    background-image: url(/imagenes/tazas\ cafe.jpg);
    background-size: cover;
}
.textoContacto {
	position: absolute;
	left: 279px;
	top: 91px;
	font-size: 25px;
	width: 285px;
}




/* footer */

footer {
	background-image: url(../imagenes/granos.jpg);
	background-size: cover;
	position: relative;
	color: white;
	background-color: rgb(78, 38, 14);
	height: 407px;
	
}

.parrafoFooter {
	position: absolute;
	color: white;
	font-size: 30px;
	background-color: rgb(0, 0, 0);
	top: 159px;
	left: 460px;
	width: 405px;
}
.footerForm {
	position: absolute;
	top: 220px;
	left: 540px;
}
 